.box-load {
  position: absolute;
  z-index: 10000000;
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ffcd43, #ffbb00);
}

.pre {
  width: 80px;
  height: 80px;
  position: relative;
  background-image: url("../../assets/images/logo.svg");
  background-position: center;
  background-size: contain;
  animation: jump 0.4s ease-in-out infinite alternate;
}

.loading-bar {
  width: 240px;
  height: 8px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 999px;
  overflow: hidden;
}

.loading-bar span {
  display: block;
  height: 100%;
  width: 40%;
  background: #323232;
  border-radius: 999px;
  animation: loading 2.5s ease-in-out infinite;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(250%);
  }
}
#smooth-wrapper {
  display: none;
}

@keyframes jump {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(20px);
  }
}
body > header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  transition: all 0.3s;
}
body > header.hide {
  top: -100%;
}
body > header.scrolled {
  box-shadow: 4px 0px 10px 3px rgba(0, 0, 0, 0.0823529412);
}
body > header > div {
  display: flex;
  padding: 0.75rem 1rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 1138px;
  width: 100%;
  margin: 0 auto;
}
body > header > div .logo {
  width: 42px;
}
body > header i {
  color: #000000;
  font-size: 2rem;
}
@media (width <= 748px) {
  body > header .desktop-navbar {
    display: none;
  }
}
body > header .desktop-navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
}
body > header .desktop-navbar ul {
  display: flex;
  font-size: 0.875rem;
}
body > header .desktop-navbar ul li:first-of-type a {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
body > header .desktop-navbar ul li:last-of-type a {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
body > header .desktop-navbar ul li a {
  transition: all 0.2s;
  padding: 0.25rem 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.375rem;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4509803922);
}
body > header .desktop-navbar ul li a i {
  font-size: 1.5rem;
  transition: all 0.2s;
}
body > header .desktop-navbar ul li a:hover {
  letter-spacing: 1.5px;
}
body > header .desktop-navbar ul li a:hover i {
  rotate: -15deg;
}
@media (width >= 748px) and (width <= 880px) {
  body > header .desktop-navbar ul .md {
    display: none;
  }
}
body > header .desktop-buttons {
  display: flex;
}
body > header .desktop-buttons a {
  font-size: 0.875rem;
  align-items: center;
  display: flex;
}
body > header .desktop-buttons i {
  color: #ffffff;
}
body > header .desktop-buttons .whatsapp-btn {
  background: #8979ff;
  color: #ffffff;
}
@media (width <= 880px) {
  body > header .desktop-buttons {
    display: none;
  }
}
body > header .mobile-menu {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
body > header .mobile-menu .contact {
  background-color: #ffffff;
  border-radius: 50%;
  padding: 0.25rem;
  display: flex;
  border: 1px solid #d8d8d8;
}
body > header .mobile-menu .contact i {
  font-size: 1.5rem;
}
@media (width >= 880px) {
  body > header .mobile-menu {
    display: none;
  }
}
body > header #mobile-navbar {
  position: fixed;
  pointer-events: none;
  width: 100%;
  background-color: #ffffff;
  z-index: 10;
  right: 0;
  bottom: -100%;
  transition: bottom 0.3s;
  padding: 1.5rem 0;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  box-shadow: -2px 0px 6px rgba(0, 0, 0, 0.0901960784);
}
@media (width >= 880px) {
  body > header #mobile-navbar {
    display: none;
  }
}
body > header #mobile-overlay {
  position: fixed;
  min-width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  background: rgba(36, 36, 36, 0.0941176471);
  backdrop-filter: blur(6px);
}
@media (width >= 880px) {
  body > header #mobile-overlay {
    display: none;
  }
}
body > header #mobile-overlay.active {
  opacity: 100;
  pointer-events: all;
}
body > header #mobile-navbar.active {
  pointer-events: all;
  bottom: 0;
}
body > header #mobile-navbar .top {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
body > header #mobile-navbar .top h4 {
  line-height: 1;
  font-size: 1.25rem;
}
body > header #mobile-navbar .top p {
  font-size: 0.875rem;
  line-height: 1;
}
body > header #mobile-navbar .top .logo {
  width: 42px;
}
body > header #mobile-navbar i {
  color: #000000;
  font-size: 1.35rem;
}
body > header .separator {
  margin-block: 1.75rem;
  opacity: 0.14;
}
body > header #mobile-navbar ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: fit-content;
  margin: 0 auto;
  gap: 1rem;
}
body > header #mobile-navbar ul i {
  background: #ffbb00;
  padding: 0.6rem;
  border-radius: 100%;
  display: flex;
}
body > header #mobile-navbar li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #000000;
  position: relative;
}
body > header #mobile-navbar li a::after {
  content: " ";
  width: 0px;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 7px;
  border-radius: 1.1rem;
  background-color: #ffbb00;
  transition: all 0.3s;
}
body > header #mobile-navbar li a:hover::after {
  width: 150px;
}
body > header #mobile-navbar .buttons {
  padding: 0 2rem;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 400px;
  max-width: 100%;
}
body > header #mobile-navbar .buttons .btn {
  width: 100%;
}
body > header #mobile-navbar .buttons a:hover #i-i,
body > header #mobile-navbar .buttons a:hover #w-i {
  color: #ffffff;
}
body > header #mobile-navbar .close-navbar {
  max-width: 32px;
  margin-inline: auto;
  margin-block: 2rem 0;
  display: block;
  font-size: 2rem;
  border: 1px solid #000000;
  border-radius: 100%;
  display: flex;
  padding: 0.25rem;
  transition: all 0.3s;
}
body > header #mobile-navbar .close-navbar:hover {
  border-color: transparent;
  background: #ffbb00;
}

body > header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to right, rgba(255, 205, 67, 0.8), rgba(255, 187, 0, 0.8));
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  z-index: -1;
}

section.hero {
  max-width: 100vw;
  width: 100%;
  background: linear-gradient(to right, #ffcd43, #ffbb00);
  position: relative;
  border-bottom-left-radius: 100% 100px;
  border-bottom-right-radius: 100% 100px;
  overflow: hidden;
}
section.hero > div {
  padding: 0 1rem;
  padding-top: 7.8125rem;
  position: relative;
  max-width: 1132px;
  margin-inline: auto;
}
@media (width >= 700px) {
  section.hero > div {
    max-width: calc(100vw - (100vw - 1138px) / 2);
    margin-inline: auto 0;
    display: flex;
    justify-content: space-between;
  }
}
@media (width >= 1138px) {
  section.hero > div {
    max-width: 1138px;
    margin-inline: auto;
  }
}
section.hero .left {
  min-width: fit-content;
}
@media (width >= 700px) {
  section.hero .right {
    position: relative;
  }
}
section.hero .hero-text {
  font-size: 2.375rem;
  font-weight: bold;
  line-height: 1;
  max-width: 258px;
  margin-top: 2rem;
  display: inline-block;
  color: #252525;
}
@media (width >= 600px) {
  section.hero .hero-text {
    max-width: 480px;
  }
}
section.hero .fast-about {
  margin-top: 3rem;
  margin-bottom: 2rem;
  max-width: 350px;
}
section.hero .fast-about > header h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.875rem;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #000000;
  color: transparent;
}
section.hero .fast-about > header h2 i {
  color: #000000;
  -webkit-text-stroke: none;
  opacity: 60%;
  font-size: 1.625rem;
}
section.hero .fast-about .buttons {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}
section.hero svg {
  overflow: visible;
}
section.hero .line-1 {
  position: absolute;
  right: -1vh;
  top: 17.5rem;
  opacity: 60%;
}
@media (width >= 500px) {
  section.hero .line-1 {
    transform: scale(1.2);
  }
}
@media (width >= 700px) {
  section.hero .line-1 {
    right: 31.3rem;
    top: 7.75rem;
  }
}
section.hero .faixa-autismo {
  position: absolute;
  right: 27px;
  top: 14.5rem;
  width: 125px;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.2));
  z-index: 1;
}
@media (width >= 500px) {
  section.hero .faixa-autismo {
    width: 180px;
    top: 11.5rem;
    right: 22px;
  }
}
@media (width >= 700px) {
  section.hero .faixa-autismo {
    width: 190px;
    top: 1rem;
    right: 32rem;
  }
}
section.hero .hero-img {
  width: 90vw;
  display: block;
  margin-top: auto;
  z-index: 1;
  position: relative;
}
@media (width >= 700px) {
  section.hero .hero-img {
    overflow: hidden;
    min-width: 520px !important;
    max-width: 600px;
    margin-top: -3.5rem;
  }
}
section.hero #signature {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
@media (width <= 700px) {
  section.hero #signature {
    display: none;
  }
}

.about {
  padding-top: 6.25rem;
  padding-inline: 1rem;
  position: relative;
  width: 100%;
}
.about > img {
  display: block;
  margin: 2rem auto;
}

.about .cards-container {
  max-width: 460px;
  margin: 0 auto;
}

.about .topic {
  padding: 2rem;
  background: rgba(243, 243, 243, 0.6705882353);
  backdrop-filter: blur(6px);
  width: fit-content;
  border-radius: 2rem;
}
.about .topic:nth-of-type(3) {
  background-color: rgba(197, 187, 255, 0.6235294118);
  backdrop-filter: blur(6px);
  margin-left: auto;
  text-align: right;
}
.about .topic:nth-of-type(3) .buttons {
  align-items: end;
  justify-content: end;
  margin-inline: auto 0;
}
.about .topic:nth-of-type(3) .header {
  margin-left: auto;
}
.about .topic:nth-of-type(4) {
  background-color: hsla(43, 100%, 84%, 0.733);
  backdrop-filter: blur(6px);
  margin-inline: auto;
  text-align: center;
}
.about .topic:nth-of-type(4) .buttons {
  margin-inline: auto;
}
.about .topic:nth-of-type(4) .header {
  margin-inline: auto;
}
.about .topic .header {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;
}
.about .topic .header h2 {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #000;
  color: transparent;
  font-size: 1.75rem;
}
.about .topic .header .number {
  background: #ffbb00;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}
.about .topic p {
  margin-top: 0.375rem;
  max-width: 310px;
  line-height: 1.25;
}
.about .topic p span {
  font-weight: 600;
}
.about .topic .buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
  margin-top: 1.5rem;
}
.about .topic a.btn {
  width: fit-content;
}

.about .absolute-wrapper {
  opacity: 0.05;
  position: absolute;
  top: 0;
  left: 20vw;
  display: flex;
  align-items: center; /* centro vertical */
  justify-content: center;
}
@media (width <= 640px) {
  .about .absolute-wrapper {
    display: none;
  }
}
.about .bg-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.about .bg-text span {
  font-size: 10rem;
  text-transform: uppercase;
  line-height: 1;
  white-space: nowrap;
  font-weight: 700;
  display: inline-block;
}

.scroll-line {
  overflow: visible;
  position: absolute;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

section.problems {
  background: linear-gradient(to right, #ffcd43, #ffbb00);
  border-top-left-radius: 100% 50px;
  border-top-right-radius: 100% 50px;
  border-bottom-left-radius: 100% 50px;
  border-bottom-right-radius: 100% 50px;
  margin-top: -2rem;
}
section.problems > div {
  margin-inline: auto;
  padding: 4em 1rem;
  padding-bottom: 10rem;
}

section.problems .metrics-container {
  margin: 0 auto;
  margin-top: 4rem;
  justify-content: center;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
@media (width >= 1280px) {
  section.problems .metrics-container {
    flex-wrap: nowrap;
  }
}

section.problems .metrics-container article {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 1.5rem 1.75rem;
  max-width: 400px;
  border-radius: 1rem;
  border: 1px solid #916a00;
}
@media (width >= 1000px) {
  section.problems .metrics-container article {
    min-width: 400px;
  }
}
section.problems .metrics-container article:first-of-type {
  height: 160px;
}
section.problems .metrics-container article .content > p {
  margin-top: 0.25rem;
  font-size: 0.875rem;
}
section.problems .metrics-container article .content .link {
  display: flex;
  align-items: center;
  opacity: 0.6;
  gap: 0.5rem;
  font-size: 0.75rem;
  margin-top: 0.75rem;
}
section.problems .metrics-container article .metric-number {
  font-size: 2.25rem;
  font-weight: 600;
  color: #8979ff;
}
section.problems .metrics-container article .content .link > div {
  background-color: #8979ff;
  display: flex;
  padding: 0 0.35rem;
  border-radius: 9999rem;
  align-items: center;
  justify-content: center;
}
section.problems .metrics-container article .content .link > div i {
  font-size: 1.25rem;
  color: #ffbb00;
}

section.problems .metrics-container .percent {
  position: relative;
  width: 112px;
  height: 112px;
}
section.problems .metrics-container .percent svg {
  position: relative;
  width: 112px;
  height: 112px;
  rotate: -90deg;
}
section.problems .metrics-container .percent svg circle {
  width: 112px;
  height: 112px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 307;
  stroke-dashoffset: 307;
  stroke-linecap: round;
}
section.problems .metrics-container .percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #000;
  opacity: 0.08;
}
section.problems .metrics-container .percent svg circle:nth-child(2) {
  stroke-dashoffset: calc(300 - 300 * var(--perc) / 100);
  stroke: #000;
}
section.problems .metrics-container .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.problems .metrics-container .percent .number h3 {
  font-size: 1.5rem;
  font-weight: normal;
}

section.problems .cards-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 300px));
  grid-template-rows: auto auto;
  gap: 1.25rem;
  width: fit-content;
  margin: 0 auto;
  margin-top: 3rem;
}
section.problems .cards-grid .card {
  background-color: #ffffff;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1568627451);
}
@media (width >= 1000px) {
  section.problems .cards-grid .card {
    min-height: 250px;
  }
}
section.problems .cards-grid .card.object img {
  width: 100%;
  max-width: 150px;
  filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.4509803922));
}
section.problems .cards-grid img.card {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
}
section.problems .cards-grid .card.text {
  grid-column: span 2;
  height: 250px;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}
section.problems .cards-grid .card.text:last-of-type {
  background-color: #000000;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}
section.problems .cards-grid .card.text:last-of-type::before, section.problems .cards-grid .card.text:last-of-type::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  background-color: #fff;
  opacity: 0.2;
  filter: blur(100px);
}
section.problems .cards-grid .card.text:last-of-type::after {
  left: -60px;
  top: -60px;
  opacity: 0.12;
}
section.problems .cards-grid .card.text:last-of-type::before {
  right: -60px;
  bottom: -60px;
}
@media (width <= 600px) or (width >= 1000px) {
  section.problems .cards-grid .card.object,
  section.problems .cards-grid img.card {
    aspect-ratio: 1;
  }
}
@media (width >= 1000px) {
  section.problems .cards-grid {
    grid-template-columns: 250px 250px minmax(0, 250px) minmax(0, 250px);
  }
  section.problems .cards-grid .card.text:last-of-type {
    grid-column: span 1 2;
    grid-row: 2;
  }
}
@media (width >= 1280px) {
  section.problems .cards-grid {
    grid-template-columns: 297px 297px minmax(0, 297px) minmax(0, 297px);
  }
  section.problems .cards-grid .card.text:last-of-type {
    grid-column: span 1 2;
    grid-row: 2;
  }
  section.problems .cards-grid .card.text {
    height: 297px;
  }
}

section.about-app {
  padding: 0 1rem;
  width: 100vw;
}
section.about-app .title {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}
section.about-app .title p {
  max-width: 262px;
  margin: 0 auto;
}
@media (width >= 800px) {
  section.about-app .title {
    max-width: 847px;
  }
  section.about-app .title p {
    font-size: 1.25rem;
    max-width: none;
    margin-top: 0.5rem;
  }
  section.about-app .title h2 {
    font-size: 3.5rem;
  }
}
section.about-app .buttons-container {
  margin: 0 auto;
  margin-top: 2rem;
  width: fit-content;
  display: flex;
  gap: 1rem;
}

section.about-app .mockup {
  position: relative;
  margin: 0 auto;
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.about-app .mockup .ambient {
  width: 130vw;
  max-width: 1500px;
}
@media (width >= 1000px) {
  section.about-app .mockup .ambient {
    min-width: 1400px;
  }
}
section.about-app .mockup .screens {
  position: absolute;
  z-index: 10;
  animation: float 2s ease-in-out infinite;
  top: -5rem;
  left: 50%;
  width: 100%;
  max-width: 900px;
}

@keyframes float {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(10px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}
section.about-app-features {
  display: block;
  width: 100%;
  background: #f9f9f9;
  padding: 4rem 1.5625rem;
  box-shadow: 0px -10px 8px rgba(0, 0, 0, 0.0823529412);
  position: relative;
  z-index: 100;
}
section.about-app-features .cards {
  width: 100%;
  max-width: 439px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.app-feature-card {
  background: #ffffff;
  border: 1px solid #c8c8c8;
  border-radius: 32px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.app-feature-card__content {
  padding: 2.25rem 2.125rem 0;
}

.app-feature-card__content h3 {
  font-size: 1.75rem;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.app-feature-card__content p {
  margin-top: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  opacity: 0.75;
}

.app-feature-card__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 1.5rem;
}

.app-feature-card__tags li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  padding: 1px 11px;
  border-radius: 999px;
  background: #ffde84;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.75rem;
  line-height: 1.5;
}

.app-feature-card__media {
  position: relative;
  width: 100%;
  min-height: 180px;
}

.app-feature-card__media-main {
  display: block;
  width: min(120%, 520px);
  height: auto;
  margin: 0 auto;
}

.app-feature-card__media-curve {
  display: block;
  width: min(100%, 420px);
  height: auto;
  margin: 0 auto;
}

.app-feature-card__media-bg {
  position: absolute;
  right: -144px;
  bottom: -224px;
  width: 110%;
  height: auto;
  pointer-events: none;
}

.app-feature-card__media-fig {
  position: relative;
  z-index: 1;
  display: block;
  height: auto;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}

.app-feature-card--centralizando {
  gap: 1.25rem;
}
.app-feature-card--centralizando .app-feature-card__media-main {
  position: absolute;
  right: -128px;
  bottom: -248px;
}
.app-feature-card--centralizando .app-feature-card__media-curve {
  z-index: 1;
  margin-top: auto;
  margin-bottom: -0.5rem;
}
.app-feature-card--centralizando .app-feature-card__content {
  padding-bottom: 0;
}
.app-feature-card--centralizando .app-feature-card__media {
  display: grid;
  place-items: center;
  gap: 1rem;
}

.app-feature-card--instrucoes .app-feature-card__media-fig {
  width: 210px;
  transform: scaleX(-1);
}

.app-feature-card--rotina .app-feature-card__media-fig {
  width: 254px;
  max-width: 85%;
}

@media (width <= 480px) {
  .app-feature-card--centralizando .app-feature-card__media-main {
    position: absolute;
    right: -100px;
    bottom: -160px;
  }
  .app-feature-card__media-bg {
    right: -125px;
    bottom: -190px;
  }
}
@media (width <= 410px) {
  .app-feature-card__media-bg {
    right: -100px;
    bottom: -160px;
  }
}
@media (width >= 768px) {
  section.about-app-features {
    padding: 4rem 1.5625rem;
  }
  section.about-app-features .cards {
    max-width: 743px;
  }
  section.about-app-features .app-feature-card {
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    max-height: 288px;
    min-height: 288px;
    padding: 2.25rem 2.125rem;
  }
  section.about-app-features .app-feature-card__content {
    padding: 0;
    flex: 1;
    max-width: 534px;
  }
  section.about-app-features .app-feature-card__tags {
    margin-top: 1rem;
  }
  section.about-app-features .app-feature-card__media {
    max-height: 288px;
    flex: 0 0 240px;
    min-height: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  section.about-app-features .app-feature-card__media-fig {
    margin: 0;
  }
  section.about-app-features .app-feature-card__media-bg {
    right: -192px;
    bottom: -192px;
    width: 500px;
    rotate: -10deg;
  }
  section.about-app-features .app-feature-card--centralizando .app-feature-card__media {
    position: absolute;
    inset: 0;
    width: auto;
    min-height: 0;
    display: block;
    pointer-events: none;
  }
  section.about-app-features .app-feature-card--centralizando .app-feature-card__media-main {
    right: -176px;
    bottom: -144px;
    width: 500px;
    rotate: -20deg;
  }
  section.about-app-features .app-feature-card--centralizando .app-feature-card__media-curve {
    position: absolute;
    bottom: 0;
    right: -5.5rem;
    width: 420px;
    margin: 0;
  }
  section.about-app-features .app-feature-card--instrucoes .app-feature-card__media {
    flex-basis: 210px;
  }
  section.about-app-features .app-feature-card--instrucoes .app-feature-card__media-fig {
    width: 190px;
    max-width: none;
  }
  section.about-app-features .app-feature-card--rotina .app-feature-card__media {
    flex-basis: 270px;
  }
  section.about-app-features .app-feature-card--rotina .app-feature-card__media-fig {
    width: 254px;
    max-width: none;
  }
}
section#depoiments {
  width: 100%;
  background: linear-gradient(90deg, rgb(255, 205, 67) 0%, rgb(255, 187, 0) 100%);
  padding: 6.25rem 1.0625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.depoiments__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
  text-align: center;
}
.depoiments__header h2 {
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 1em;
  color: #000000;
}
.depoiments__header h2 span {
  color: #8979ff;
}
.depoiments__header p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1em;
  color: #000000;
  opacity: 0.75;
}

.depoiments__cards {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.depoiment-card {
  background: linear-gradient(134deg, #ffb73b 4%, #ffc53d 28%, #ffb634 54%, #ffc53d 68%, #ffb73b 93%);
  border-radius: 45px;
  padding: 2.625rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  width: 100%;
  max-width: 340px;
  max-height: fit-content;
}

.depoiment-card__content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.depoiment-card__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.125rem;
}

.depoiment-card__avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.depoiment-card__info {
  display: flex;
  flex-direction: column;
  width: 156px;
}

.depoiment-card__info h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5em;
  color: #000000;
  margin: 0;
}

.depoiment-card__subtitle {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5em;
  color: #000000;
  opacity: 0.75;
  margin: 0;
}

.depoiment-card__text {
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 1.1em;
  letter-spacing: -0.02em;
  color: #000000;
  margin: 0;
  max-width: 269px;
}

.depoiment-card__button {
  min-width: 100%;
}

.depoiment-card__quotes {
  position: absolute;
  top: -0.875rem;
  right: 4.875rem;
  width: 21px;
  height: 27px;
  pointer-events: none;
}

section#more-app {
  position: relative;
  z-index: 100;
  margin-top: 6.25rem;
}
section#more-app > div:first-of-type {
  max-width: 1138px;
  margin: 0 auto;
  padding: 0 1rem;
}
section#more-app .title {
  text-align: left;
  max-width: 374px;
}
section#more-app .title p {
  max-width: 354px;
}
section#more-app .container {
  margin: 0 auto;
  margin-top: 3rem;
  max-width: 1138px;
  z-index: 100;
  position: relative;
  display: flex;
  align-items: center;
}
section#more-app .container .mockup {
  display: flex;
}
section#more-app .container .mockup > img {
  width: 100%;
  max-width: 300px;
  min-width: 274px;
  object-fit: cover;
  margin-left: -1rem;
  filter: brightness(1.1);
}
@media (width <= 640px) {
  section#more-app .container .mockup > img {
    min-width: 200px;
  }
}
section#more-app .container .buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: -3rem;
}
section#more-app .container .buttons a {
  white-space: nowrap;
}
@media (width >= 748px) {
  section#more-app {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
  }
  section#more-app > div:first-of-type {
    margin: 0;
  }
  section#more-app::before {
    content: "";
    width: 100vw;
    height: 501px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, #ffcd43, #ffbb00);
    z-index: 0;
  }
}
@media (width >= 940px) {
  section#more-app > div:first-of-type {
    margin-right: 10rem;
  }
}

section#more-app .wrapper-cards-container {
  padding-top: 20rem;
  margin-top: -18rem;
  position: relative;
}
section#more-app .wrapper-cards-container::before {
  content: "";
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(to right, #ffcd43, #ffbb00);
}
@media (width >= 748px) {
  section#more-app .wrapper-cards-container::before {
    display: none;
  }
}
section#more-app .wrapper-cards-container .slogan {
  margin-top: 4rem;
  padding-bottom: 2rem;
  padding-inline: 1rem;
}
@media (width >= 748px) {
  section#more-app .wrapper-cards-container .slogan {
    margin-left: -50vw;
  }
}
@media (width >= 940px) {
  section#more-app .wrapper-cards-container .slogan {
    margin-left: -38rem;
  }
}
@media (width >= 748px) {
  section#more-app .wrapper-cards-container {
    margin-top: 0;
    padding-top: 0;
  }
}

section#more-app .cards-container {
  overflow: hidden;
  display: flex;
  position: relative;
  z-index: 10;
}
section#more-app .cards-container:hover .scroll-list {
  animation-play-state: paused;
}
@media (width >= 748px) {
  section#more-app .cards-container {
    max-width: 344px;
  }
  section#more-app .cards-container:first-of-type .scroll-list {
    animation: jump-left 8s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
  }
  section#more-app .cards-container.last .scroll-list {
    animation: jump-right 8s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
  }
}

section#more-app .scroll-list {
  padding: 1rem;
  display: flex;
  gap: 2rem;
}
@media (width <= 748px) {
  section#more-app .scroll-list {
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    cursor: grab;
  }
  section#more-app .scroll-list:active {
    cursor: grabbing;
  }
}
section#more-app .scroll-list::-webkit-scrollbar {
  display: none;
}
section#more-app .scroll-list article {
  background: #e8aa00;
  min-width: 300px;
  max-width: 300px;
  padding: 1rem;
  border-radius: 24px;
}
section#more-app .scroll-list article .content {
  z-index: 10;
  position: relative;
  min-height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-block: 8rem 1rem;
  padding-inline: 1rem;
  color: #ffffff;
}
section#more-app .scroll-list article .content .icon {
  position: absolute;
  color: #ffffff;
  top: 1rem;
  right: 1rem;
}
section#more-app .scroll-list article > div {
  position: relative;
  overflow: hidden;
  min-height: 196px;
  border-radius: 1rem;
}
section#more-app .scroll-list article .content::before {
  content: " ";
  width: 100%;
  height: 70%;
  position: absolute;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7725490196), rgba(0, 0, 0, 0));
  bottom: 0;
  left: 0;
  z-index: -1;
}
section#more-app .scroll-list article .content.blur::before {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.2117647059);
  height: 50%;
  backdrop-filter: blur(2px);
}
section#more-app .scroll-list article .content h4 {
  font-size: 1.25rem;
}
section#more-app .scroll-list article .content p {
  line-height: 1.25;
  margin-top: 0.5rem;
}
section#more-app .scroll-list article .content a {
  margin-top: 1.5rem;
  width: 100%;
}
section#more-app .scroll-list article img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes jump-left {
  0%, 20% {
    transform: translateX(0);
  }
  25%, 45% {
    transform: translateX(-332px);
  }
  50%, 70% {
    transform: translateX(-664px);
  }
  75%, 100% {
    transform: translateX(0);
  }
}
@keyframes jump-right {
  0%, 20% {
    transform: translateX(-664px);
  }
  25%, 45% {
    transform: translateX(-332px);
  }
  50%, 70% {
    transform: translateX(0px);
  }
  75%, 100% {
    transform: translateX(-664px);
  }
}
#team {
  padding-block: 6.25rem;
  margin-bottom: 6.25rem;
  position: relative;
}
#team::before, #team::after {
  content: "";
  background-color: #ffbb00;
  position: absolute;
  width: 65px;
  height: 394px;
  border-radius: 100%;
  opacity: 0.25;
  top: 50%;
  transform: translateY(-50%);
}
#team::before {
  left: -55px;
}
#team::after {
  right: -55px;
}
@media (width >= 440px) {
  #team::before {
    left: -50px;
  }
  #team::after {
    right: -50px;
  }
}
#team .cards-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
@media (width >= 870px) {
  #team .cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: fit-content;
    margin-inline: auto;
    justify-content: unset;
    align-items: unset;
  }
}

#team .cards-container .card {
  display: flex;
  align-items: center;
  transition: all 0.3s;
  max-width: 100%;
  gap: 1rem;
}
#team .cards-container .card:hover {
  animation: boom 0.6s;
}
#team .cards-container .card:hover .content {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.0745098039);
}
#team .cards-container .card .content {
  transition: all 0.3s;
  border: 1px solid #d8d8d8;
  border-radius: 1.5rem;
  position: relative;
  margin-left: -5rem;
  max-width: 324px;
  min-width: 290px;
  padding: 1rem;
  padding-inline: 5rem 2rem;
}
@media (width >= 640px) {
  #team .cards-container .card .content {
    min-width: 324px;
  }
}
#team .cards-container .card h4 {
  font-size: 1rem;
}
#team .cards-container .card p {
  font-size: 0.875rem;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#team .cards-container .card .arrow {
  position: absolute;
  display: flex;
  padding: 0.5rem;
  right: 1rem;
  bottom: 1rem;
}
#team .cards-container .card .email {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
}
#team .cards-container .card .email i {
  font-size: 1.25rem;
}
#team .cards-container .card .img {
  border: 4px solid #0d4b3f;
  border-radius: 100%;
  position: relative;
  z-index: 2;
  background-color: white;
  overflow: hidden;
  padding: 1rem;
  width: 132px;
  height: 132px;
  display: flex;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1843137255);
}
#team .cards-container .card .img .border-white {
  width: 100%;
  height: 100%;
  background-color: white;
}
#team .cards-container .card .img img {
  width: 112px;
  height: 112px;
  border-radius: 100%;
  display: flex;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes boom {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
#cta {
  position: relative;
  max-width: 1138px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cta .content {
  padding-inline: 1rem;
  display: flex;
  gap: 2rem;
  width: 100%;
  max-width: 1138px;
}
#cta .content .text {
  width: 50%;
}
#cta .content .text p {
  margin-top: 1rem;
}
#cta .content .img {
  width: 50%;
  height: 400px;
  background: #000;
}
#cta .content .buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}
#cta .absolute-wrapper {
  position: absolute;
  inset: 0;
  opacity: 0.45;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cta .bg-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
#cta .bg-text span {
  font-size: 8vw;
  text-transform: uppercase;
  line-height: 1;
  white-space: nowrap;
  font-weight: 700;
  display: inline-block;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 1rem;
  color: #000000;
  width: 100%;
  font-family: "poppins", sans-serif;
}
@media (width <= 640px) {
  body,
  html {
    font-size: 90%;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  position: relative;
  min-width: 100%;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

a,
button {
  background: none;
  color: #000000;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
}

i {
  font-size: 1.875rem;
}

/* largura da barra */
::-webkit-scrollbar {
  width: 3px;
}

/* fundo da barra */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* parte que desliza */
::-webkit-scrollbar-thumb {
  background: #000000;
}

/* hover */
::-webkit-scrollbar-thumb:hover {
  background: #404040;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #000000;
}

.slogan {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.slogan img {
  width: 44px;
}
.slogan > div {
  line-height: 1;
}
.slogan h6 {
  font-size: 1rem;
}
.slogan p {
  font-size: 0.875rem;
  opacity: 75%;
  margin-top: 0.125rem;
}

.btn {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  color: #000000;
  overflow: hidden;
  border-radius: 2rem;
  transition: all 0.3s;
  width: fit-content;
}
.btn i {
  font-size: 1.15rem;
}

.btn-primary {
  background-color: #8979ff;
  color: #ffffff;
}
.btn-primary:hover {
  opacity: 0.8;
}

.btn-dark {
  background-color: #000000;
  color: #ffffff;
}
.btn-dark:hover {
  filter: brightness(90%);
}

.btn-outline {
  border: 1px solid #000000;
  overflow: hidden;
  position: relative;
}
.btn-outline::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 150%;
  height: 150%;
  border-radius: 100%;
  background: #000000;
  transition: all 0.45s;
}
.btn-outline span {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
.btn-outline span,
.btn-outline i {
  transition: all 0.8s;
}
.btn-outline:hover {
  color: #ffffff;
}
.btn-outline:hover::after {
  top: -30%;
}

.btn-outline-light {
  border: 1px solid #ffffff;
  overflow: hidden;
  color: #ffffff;
  position: relative;
}
.btn-outline-light::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 150%;
  height: 150%;
  border-radius: 100%;
  background: #ffffff;
  transition: all 0.45s;
}
.btn-outline-light span {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
.btn-outline-light span,
.btn-outline-light i {
  transition: all 0.8s;
}
.btn-outline-light:hover {
  color: #000000;
}
.btn-outline-light:hover::after {
  top: -30%;
}

.title {
  text-align: center;
}
.title h1,
.title h2,
.title h3,
.title h4,
.title h5,
.title h6 {
  letter-spacing: -25%;
  line-height: 110%;
  font-size: 2.375rem;
}
.title span {
  color: #8979ff;
}
.title p {
  opacity: 0.75;
  font-size: 0.875rem;
}

/*# sourceMappingURL=main.css.map */
