@use "variables.scss" as *;

.about {
  padding-top: 6.25rem;
  padding-inline: 1rem;
  position: relative;

  & > img {
    display: block;
    margin: 2rem auto;
  }
}

.about > .topic {
  padding: 2rem;
  background: #f3f3f350;

  backdrop-filter: blur(6px);

  width: fit-content;
  border-radius: 2rem;

  &:nth-of-type(2) {
    background-color: #c5bbff62;
    backdrop-filter: blur(6px);

    margin-left: auto;

    text-align: right;

    .header {
      margin-left: auto;
    }
  }

  &:nth-of-type(3) {
    background-color: hsla(43, 100%, 84%, 0.377);
    backdrop-filter: blur(6px);

    margin-inline: auto;

    text-align: center;

    .header {
      margin-inline: auto;
    }
  }

  .header {
    display: flex;
    align-items: center;

    width: fit-content;
    gap: 0.5rem;

    h2 {
      -webkit-text-stroke: 1px;
      -webkit-text-stroke-color: #000;

      color: transparent;
      font-size: 1.75rem;
    }
  }

  .header .number {
    background: $color-primary;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;
  }

  p {
    margin-top: 0.375rem;
    max-width: 310px;

    line-height: 1.25;
  }

  p span {
    font-weight: 600;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: fit-content;

    margin-top: 1.5rem;
  }

  &:nth-of-type(2) > .buttons {
    margin-left: auto;
    align-items: end;
  }

  &:nth-of-type(3) > .buttons {
    margin-inline: auto;
  }

  a.btn {
    width: fit-content;
  }
}

.scroll-line {
  overflow: visible;
  position: absolute;

  top: -5rem;
  left: 50%;
  transform: translateX(-50%);

  z-index: -1;
}
