@use "variables.scss" as *;

.about {
  padding-top: 6.25rem;
  padding-inline: 1rem;
  position: relative;

  width: 100%;

  & > img {
    display: block;
    margin: 2rem auto;
  }
}

.about .cards-container {
  max-width: 460px;
  margin: 0 auto;
}

.about .topic {
  padding: 2rem;
  background: #f3f3f3ab;

  backdrop-filter: blur(6px);

  width: fit-content;
  border-radius: 2rem;

  &:nth-of-type(3) {
    background-color: #c5bbff9f;
    backdrop-filter: blur(6px);

    margin-left: auto;
    text-align: right;

    .buttons {
      align-items: end;
      justify-content: end;

      margin-inline: auto 0;
    }

    .header {
      margin-left: auto;
    }
  }

  &:nth-of-type(4) {
    background-color: hsla(43, 100%, 84%, 0.733);
    backdrop-filter: blur(6px);

    margin-inline: auto;

    text-align: center;

    .buttons {
      margin-inline: auto;
    }

    .header {
      margin-inline: auto;
    }
  }

  .header {
    display: flex;
    align-items: center;

    width: fit-content;
    gap: 0.5rem;

    h2 {
      -webkit-text-stroke: 1px;
      -webkit-text-stroke-color: #000;

      color: transparent;
      font-size: 1.75rem;
    }
  }

  .header .number {
    background: $color-primary;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;
  }

  p {
    margin-top: 0.375rem;
    max-width: 310px;

    line-height: 1.25;
  }

  p span {
    font-weight: 600;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: fit-content;

    margin-top: 1.5rem;
  }

  a.btn {
    width: fit-content;
  }
}

.about {
  .absolute-wrapper {
    opacity: 0.05;
    position: absolute;
    top: 0;

    left: 20vw;

    display: flex;
    align-items: center; /* centro vertical */
    justify-content: center;

    @media (width <= 640px) {
      display: none;
    }
  }

  .bg-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .bg-text span {
    font-size: 10rem;
    text-transform: uppercase;
    line-height: 1;
    white-space: nowrap;
    font-weight: 700;
    display: inline-block;
  }
}

.scroll-line {
  overflow: visible;
  position: absolute;

  top: -5rem;
  left: 50%;
  transform: translateX(-50%);

  z-index: -1;
}
