@use "variables.scss" as *;

section.about-app {
  padding: 0 1rem;
  width: 100vw;

  .title {
    max-width: 600px;
    width: 100%;

    margin: 0 auto;

    p {
      max-width: 262px;
      margin: 0 auto;
    }

    @media (width >= 800px) {
      max-width: 847px;

      p {
        font-size: 1.25rem;
        max-width: none;

        margin-top: 0.5rem;
      }

      h2 {
        font-size: 3.5rem;
      }
    }
  }

  .buttons-container {
    margin: 0 auto;
    margin-top: 2rem;

    width: fit-content;

    display: flex;
    gap: 1rem;
  }
}

section.about-app .mockup {
  position: relative;

  margin: 0 auto;
  margin-top: 8rem;

  display: flex;
  align-items: center;
  justify-content: center;

  .ambient {
    width: 130vw;
    max-width: 1500px;

    @media (width >= 1000px) {
      min-width: 1400px;
    }
  }

  .screens {
    position: absolute;
    z-index: 10;

    top: -5rem;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    max-width: 900px;
  }
}
