@use "variables.scss" as *;

section.about-app {
  padding: 0 1rem;

  max-width: 1138px;
  margin: 0 auto;

  .title {
    text-align: left;
  }

  .buttons-container {
    margin-top: 2rem;

    display: flex;
    gap: 1rem;
  }

  img.preview {
    margin-top: 3rem;

    width: 100%;
    max-width: 600px;
  }
}
