#cta {
  position: relative;
  max-width: 1138px;
  margin: 0 auto;

  min-height: 150vh;
  padding-bottom: 60vh;

  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 100%;
    max-width: 1138px;

    @media (width >= 768px) {
      flex-direction: row;
    }
  }

  .content .text {
    p {
      margin-top: 0.5rem;
    }

    h2 {
      font-size: 1.25rem;
    }

    h2:last-of-type {
      margin-top: 1rem;
    }

    @media (width >= 768px) {
      width: 50%;
    }
  }

  .content .img {
    flex: 1;
    object-fit: cover;

    @media (width >= 768px) {
      width: 50%;
    }
  }

  .content .buttons {
    display: flex;

    gap: 1rem;

    margin-top: 3rem;
  }

  .absolute-wrapper {
    position: absolute;
    top: 0; // top: 0; right: 0; bottom: 0; left: 0;
    opacity: 0.45;

    display: flex;
    align-items: center; // centro vertical
    justify-content: center; // centro horizontal
  }

  .bg-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .bg-text span {
    font-size: 8vw;
    text-transform: uppercase;
    line-height: 1;
    white-space: nowrap;
    font-weight: 700;
    display: inline-block;
  }
}
