@use "variables" as *;

body > header {
  width: 100%;

  position: fixed;
  z-index: 1000;

  top: 0;
  left: 0;

  transition: all 0.3s;

  &.hide {
    top: -100%;
  }

  &.scrolled {
    box-shadow: 4px 0px 10px 3px #00000015;
  }

  & > div {
    display: flex;
    padding: 0.75rem 1rem;

    align-items: center;
    justify-content: space-between;

    position: relative;

    max-width: 1138px;
    width: 100%;

    margin: 0 auto;

    .logo {
      width: 42px;
    }
  }

  i {
    color: $color-black;
    font-size: 2rem;
  }

  .desktop-navbar {
    @media (width <= 748px) {
      display: none;
    }

    display: flex;
    align-items: center;
    gap: 2rem;

    ul {
      display: flex;

      font-size: $text-sm;

      li:first-of-type a {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
      }

      li:last-of-type a {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }

      li a {
        transition: all 0.2s;
        padding: 0.25rem 0.75rem;

        display: flex;
        align-items: center;

        gap: 0.375rem;

        text-shadow: 0px 0px 12px #00000073;
      }

      li a i {
        font-size: 1.5rem;
        transition: all 0.2s;
      }

      li a:hover {
        letter-spacing: 1.5px;
      }

      li a:hover i {
        rotate: -15deg;
      }

      @media (width >= 748px) and (width <= 880px) {
        .md {
          display: none;
        }
      }
    }
  }

  .desktop-buttons {
    display: flex;

    a {
      font-size: $text-sm;
      align-items: center;
      display: flex;
    }

    i {
      color: $color-white;
    }

    .whatsapp-btn {
      background: $color-purple;
      color: $color-white;
    }

    @media (width >= 748px) and (width <= 880px) {
      display: none;
    }
  }

  .mobile-menu {
    display: flex;
    align-items: center;

    gap: 0.75rem;

    .contact {
      background-color: $color-white;
      border-radius: 50%;
      padding: 0.25rem;

      display: flex;
      border: 1px solid $color-light-300;
      i {
        font-size: 1.5rem;
      }
    }

    @media (width >= 880px) {
      display: none;
    }
  }

  #mobile-navbar {
    position: fixed;
    pointer-events: none;

    width: 100%;

    background-color: $color-white;
    z-index: 10;

    right: 0;
    bottom: -100%;

    transition: bottom 0.3s;
    padding: 1.5rem 0;

    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

    box-shadow: -2px 0px 6px #00000017;

    @media (width >= 880px) {
      display: none;
    }
  }

  #mobile-overlay {
    position: fixed;
    min-width: 100%;
    height: 100vh;

    top: 0;
    left: 0;

    opacity: 0;
    z-index: 2;
    pointer-events: none;

    background: #24242418;
    backdrop-filter: blur(6px);

    @media (width >= 880px) {
      display: none;
    }
  }

  #mobile-overlay.active {
    opacity: 100;
    pointer-events: all;
  }

  #mobile-navbar.active {
    pointer-events: all;
    bottom: 0;
  }

  #mobile-navbar .top {
    display: flex;

    gap: 1rem;
    align-items: center;
    justify-content: center;

    h4 {
      line-height: 1;
      font-size: 1.25rem;
    }

    p {
      font-size: 0.875rem;
      line-height: 1;
    }
  }

  #mobile-navbar .top .logo {
    width: 42px;
  }

  #mobile-navbar i {
    color: $color-black;
    font-size: 1.35rem;
  }

  .separator {
    margin-block: 1.75rem;
    opacity: 0.14;
  }

  #mobile-navbar ul {
    display: flex;
    flex-direction: column;
    align-items: start;

    max-width: fit-content;

    margin: 0 auto;

    gap: 1rem;
  }

  #mobile-navbar ul i {
    background: $color-primary;
    padding: 0.6rem;

    border-radius: 100%;
    display: flex;
  }

  #mobile-navbar li a {
    display: flex;
    align-items: center;

    gap: 0.5rem;

    color: $color-black;
    position: relative;
  }

  #mobile-navbar li a::after {
    content: " ";

    width: 0px;
    height: 100%;

    position: absolute;
    z-index: -1;

    top: 0;
    left: 7px;

    border-radius: 1.1rem;

    background-color: $color-primary;
    transition: all 0.3s;
  }

  #mobile-navbar li a:hover::after {
    width: 150px;
  }

  #mobile-navbar .buttons {
    padding: 0 2rem;
    margin: 0 auto;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;

    gap: 0.5rem;

    width: 400px;
    max-width: 100%;

    .btn {
      width: 100%;
    }

    a:hover #i-i,
    a:hover #w-i {
      color: $color-white;
    }
  }

  #mobile-navbar .close-navbar {
    max-width: 32px;

    margin-inline: auto;
    margin-block: 2rem 0;

    display: block;
    font-size: 2rem;

    border: 1px solid $color-black;
    border-radius: 100%;

    display: flex;
    padding: 0.25rem;

    transition: all 0.3s;
  }

  #mobile-navbar .close-navbar:hover {
    border-color: transparent;
    background: $color-primary;
  }
}

body > header::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: linear-gradient(
    to right,
    rgba(#ffcd43, 0.8),
    rgba(#ffbb00, 0.8)
  );

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  z-index: -1;
}
