@use "variables.scss" as *;

section.hero {
  max-width: 1064px;
  max-height: 100dvh;

  margin: 0 auto;
  margin-top: 4rem;

  position: relative;

  padding: 0 1rem;

  h1 {
    font-weight: 600;
    font-size: 2.375rem;

    line-height: 100%;
    letter-spacing: -0.25px;
    max-width: 390px;
  }

  h1 > span {
    color: $color-purple;
  }

  .text > .buttons {
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    a.btn {
      width: fit-content;
    }
  }

  .image {
    width: 100%;

    .hero-img {
      width: 90vw;

      margin: 0 auto;
      margin-top: auto;
    }

    .text {
      position: absolute;
      bottom: -1.2vh;
      left: 50%;

      width: 96vw;

      transform: translate(-50%);
    }

    .text:first-of-type {
      z-index: -1;
    }
  }

  .retangle-w-logo {
    position: absolute;
    left: 0;
    width: 100vw;

    bottom: -31vw;
  }

  .line-1 {
    position: absolute;
    z-index: -1;
    top: -5.25rem;
    right: 0;

    min-width: 100vw;
  }

  .line-2 {
    position: absolute;
    right: 0;
    top: 13rem;
  }

  .faixa-autismo {
    position: absolute;
    right: 2.75rem;
    top: 10rem;

    width: 110px;
    height: 170px;

    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.2));
  }
}

// section.hero > .topics-container {
//   display: flex;
//   flex-direction: column;

//   gap: 2rem;

//   .number.last {
//     rotate: -25deg;
//   }

//   .btn {
//     font-size: $text-extra-sm;
//     width: fit-content;

//     i {
//       font-size: 1rem;
//     }
//   }

//   .buttons {
//     margin-top: 1rem;
//     display: flex;

//     gap: 1rem;
//   }

//   p {
//     font-size: $text-extra-sm;
//     max-width: 250px;
//   }

//   h3 {
//     -webkit-text-stroke-width: 1px;
//     -webkit-text-stroke-color: black;

//     color: transparent;
//     font-size: 1.875rem;

//     display: flex;
//     align-items: center;
//     justify-content: right;

//     gap: 0.5rem;
//   }

//   .svg-path {
//     position: absolute;
//     z-index: -1;

//     right: 0;
//     top: 5.5rem;
//   }
// }
