@use "variables.scss" as *;

section.hero {
  max-width: 1132px;

  padding: 0 1rem;
  padding-top: calc(3.8125rem + 4rem); // header height + 64px

  position: relative;

  @include bg-gradient;

  .slogan {
    display: flex;
    align-items: center;

    gap: 0.5rem;

    img {
      width: 44px;
    }

    & > div {
      line-height: 1;
    }

    h6 {
      font-size: 1rem;
    }

    p {
      font-size: $text-sm;
      opacity: 75%;

      margin-top: 0.125rem;
    }
  }

  .hero-text {
    font-size: 2.375rem;
    font-weight: bold;
    line-height: 1;

    max-width: 258px;
    margin-top: 2rem;

    display: inline-block;

    color: #252525;
  }

  .fast-about {
    margin-top: 3rem;
    margin-bottom: 2rem;

    max-width: 350px;
  }

  .fast-about > header h2 {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-size: 1.875rem;

    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: $color-black;

    color: transparent;

    i {
      color: $color-black;
      -webkit-text-stroke: none;

      opacity: 60%;
      font-size: 1.625rem;
    }
  }

  .fast-about .buttons {
    margin-top: 1.5rem;
    display: flex;

    gap: 1rem;
  }

  .line-1 {
    position: absolute;
    right: -1vh;
    top: 17.5rem;

    opacity: 60%;
  }

  .faixa-autismo {
    position: absolute;
    right: 4vh;
    top: 14.5rem;

    width: 125px;

    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.2));
  }

  .hero-img {
    width: 90vw;

    display: block;
    margin-top: auto;
  }
}
