@use "./variables.scss" as *;
@use "./header.scss";
@use "./hero.scss";
@use "./about.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: $text-md;
  color: $color-black;

  width: 100%;

  font-family: "poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  position: relative;
  padding-top: 3.8125rem;

  min-width: 100%;
  max-width: 100%;

  overflow-x: hidden;
  min-height: 100vh;
  overflow: hidden;
}

a,
button {
  background: none;
  color: $color-black;

  text-decoration: none;
  border: none;

  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
}

i {
  font-size: 1.875rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.separator {
  width: 100%;
  height: 1px;

  background-color: $color-black;
}

.btn {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  color: $color-black;
  overflow: hidden;
  border-radius: 2rem;
  transition: all 0.3s;

  i {
    font-size: 1.15rem;
  }
}

.btn-primary {
  background-color: $color-purple;
  color: $color-white;

  &:hover {
    opacity: 0.8;
  }
}

.btn-dark {
  background-color: $color-black;
  color: $color-white;

  &:hover {
    filter: brightness(90%);
  }
}

.btn-outline {
  border: 1px solid $color-black;
  overflow: hidden;

  position: relative;

  &::after {
    content: " ";
    position: absolute;

    top: 100%;
    left: 50%;

    transform: translateX(-50%);

    width: 150%;
    height: 150%;

    border-radius: 100%;

    background: $color-black;
    transition: all 0.45s;
  }

  span {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }

  span,
  i {
    transition: all 0.8s;
  }

  &:hover {
    color: $color-white;
  }

  &:hover::after {
    top: -30%;
  }
}

.title {
  text-align: center;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    letter-spacing: -25%;
    line-height: 110%;
  }

  span {
    color: $color-purple;
  }

  p {
    opacity: 0.75;
  }
}
