@use "variables" as *;

section#more-app {
  position: relative;
  z-index: 100;

  margin-top: 6.25rem;

  & > div:first-of-type {
    max-width: 1138px;
    margin: 0 auto;

    padding: 0 1rem;
  }

  .title {
    text-align: left;

    max-width: 374px;

    p {
      max-width: 354px;
    }
  }

  .container {
    margin: 0 auto;
    margin-top: 3rem;

    max-width: 1138px;
    z-index: 100;

    position: relative;
    display: flex;
    align-items: center;

    .mockup {
      display: flex;
    }

    .mockup > img {
      width: 100%;
      max-width: 300px;
      min-width: 274px;

      object-fit: cover;
      margin-left: -1rem;

      filter: brightness(1.1);

      @media (width <= 640px) {
        min-width: 200px;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      margin-left: -3rem;

      a {
        white-space: nowrap;
      }
    }
  }

  @media (width >= 748px) {
    display: flex;

    align-items: center;
    justify-content: center;

    position: relative;
    margin: 0 auto;

    & > div:first-of-type {
      margin: 0;
    }

    &::before {
      content: "";

      width: 100vw;
      height: 501px;

      position: absolute;
      bottom: 0;

      @include bg-gradient;
      z-index: 0;
    }
  }

  @media (width >= 940px) {
    & > div:first-of-type {
      margin-right: 10rem;
    }
  }
}

section#more-app .wrapper-cards-container {
  padding-top: 20rem;
  margin-top: -18rem;

  position: relative;

  &::before {
    content: "";

    width: 100vw;
    height: 100%;

    position: absolute;
    top: 0;

    @include bg-gradient;
    @media (width >= 748px) {
      display: none;
    }
  }

  .slogan {
    margin-top: 4rem;
    padding-bottom: 2rem;
    padding-inline: 1rem;

    @media (width >= 748px) {
      margin-left: -50vw;
    }

    @media (width >= 940px) {
      margin-left: -38rem;
    }
  }

  @media (width >= 748px) {
    margin-top: 0;
    padding-top: 0;
  }
}

section#more-app .cards-container {
  overflow: hidden;
  display: flex;

  position: relative;
  z-index: 10;

  &:hover .scroll-list {
    animation-play-state: paused;
  }

  @media (width >= 748px) {
    max-width: 344px;

    &:first-of-type {
      .scroll-list {
        animation: jump-left 8s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
      }
    }

    &.last {
      .scroll-list {
        animation: jump-right 8s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
      }
    }
  }
}

section#more-app .scroll-list {
  padding: 1rem;

  display: flex;
  gap: 2rem;

  @media (width <= 748px) {
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    cursor: grab;

    &:active {
      cursor: grabbing;
    }

    &.no-select {
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  article {
    background: #e8aa00;
    min-width: 300px;
    max-width: 300px;

    padding: 1rem;
    border-radius: 24px;

    .content {
      z-index: 10;
      position: relative;

      min-height: 330px;

      display: flex;
      flex-direction: column;

      justify-content: end;

      padding-block: 8rem 1rem;
      padding-inline: 1rem;

      color: $color-white;
    }

    .content .icon {
      position: absolute;
      color: #ffffff;

      top: 1rem;
      right: 1rem;
    }

    & > div {
      position: relative;
      overflow: hidden;
      min-height: 196px;

      border-radius: 1rem;
    }

    .content::before {
      content: " ";
      width: 100%;
      height: 70%;

      position: absolute;

      background-image: linear-gradient(to top, #000000c5, #00000000);

      bottom: 0;
      left: 0;

      z-index: -1;
    }

    .content.blur::before {
      background-image: none;
      background-color: #00000036;
      height: 50%;
      backdrop-filter: blur(2px);
    }

    .content h4 {
      font-size: 1.25rem;
    }

    .content p {
      line-height: 1.25;
      margin-top: 0.5rem;
    }

    .content a {
      margin-top: 1.5rem;
      width: 100%;
    }

    img {
      position: absolute;
      inset: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
}

@keyframes jump-left {
  0%,
  20% {
    transform: translateX(0);
  } // Parado no 1º card
  25%,
  45% {
    transform: translateX(-332px);
  } // Pula e para no 2º
  50%,
  70% {
    transform: translateX(-664px);
  } // Pula e para no 3º
  75%,
  100% {
    transform: translateX(0);
  } // Retorno suave ao início
}

@keyframes jump-right {
  0%,
  20% {
    transform: translateX(-664px);
  } // Parado no 1º card
  25%,
  45% {
    transform: translateX(-332px);
  } // Pula e para no 2º
  50%,
  70% {
    transform: translateX(-0px);
  } // Pula e para no 3º
  75%,
  100% {
    transform: translateX(-664px);
  } // Retorno suave ao início
}
