@use "variables" as *;

section#more-app {
  margin-top: 6.25rem;

  & > div:first-of-type {
    max-width: 1138px;
    margin: 0 auto;

    padding: 0 1rem;
  }

  .title {
    text-align: left;

    max-width: 374px;

    p {
      max-width: 354px;
    }
  }

  .container {
    margin: 0 auto;
    margin-top: 3rem;

    max-width: 1138px;

    .mockup {
      display: flex;
    }

    .mockup > img {
      width: 50%;

      object-fit: cover;
      margin-left: -1rem;

      filter: brightness(1.1);
    }

    .text {
      min-width: 200px;
      max-width: 200px;

      p {
        margin-bottom: 4.25rem;
        font-size: $text-sm;
      }

      a {
        white-space: nowrap;
      }

      a:last-child {
        margin-top: 1rem;
      }
    }
  }
}

section#more-app .wrapper-cards-container {
  @include bg-gradient;

  padding-top: 20rem;
  margin-top: -18rem;

  .slogan {
    margin-top: 4rem;

    padding-inline: 1rem;
  }
}

section#more-app .cards-container {
  overflow: hidden;
  display: flex;

  position: relative;

  .fade-right,
  .fade-left {
    width: 100px;
    height: 100%;

    position: absolute;
    top: 0;

    z-index: 100;
  }

  .fade-right {
    background-image: linear-gradient(to left, #ffbb00, rgba(0, 0, 0, 0));
    right: 0;
  }

  .fade-left {
    background-image: linear-gradient(to right, #ffcd43, rgba(0, 0, 0, 0));
    left: 0;
  }

  &:first-of-type .scroll-list {
    animation: spin-left 12s linear infinite;
  }

  &.last .scroll-list {
    animation: spin-right 12s linear infinite;
  }

  &:hover .scroll-list {
    animation-play-state: paused;
  }
}

section#more-app .scroll-list {
  padding: 1rem;
  min-width: fit-content;

  overflow-x: scroll;

  display: flex;
  gap: 2rem;

  &::-webkit-scrollbar {
    display: none;
  }

  article {
    background: #e8aa00;
    min-width: 300px;
    max-width: 300px;

    padding: 1rem;
    border-radius: 24px;

    .content {
      z-index: 10;
      position: relative;

      min-height: 330px;

      display: flex;
      flex-direction: column;

      justify-content: end;

      padding-block: 8rem 1rem;
      padding-inline: 1rem;

      color: $color-white;
    }

    .content .icon {
      position: absolute;
      color: #ffffff;

      top: 1rem;
      right: 1rem;
    }

    & > div {
      position: relative;
      overflow: hidden;
      min-height: 196px;

      border-radius: 1rem;
    }

    .content::before {
      content: " ";
      width: 100%;
      height: 70%;

      position: absolute;

      background-image: linear-gradient(to top, #000000c5, #00000000);

      bottom: 0;
      left: 0;

      z-index: -1;
    }

    .content.blur::before {
      background-image: none;
      background-color: #00000036;
      height: 50%;
      backdrop-filter: blur(2px);
    }

    .content h4 {
      font-size: 1.25rem;
    }

    .content p {
      line-height: 1.25;
      margin-top: 0.5rem;
    }

    .content a {
      margin-top: 1.5rem;
      width: 100%;
    }

    img {
      position: absolute;
      inset: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
}

@keyframes spin-left {
  from {
    transform: translate(0%);
  }

  to {
    transform: translate(-100%);
  }
}

@keyframes spin-right {
  from {
    transform: translate(-100%);
  }

  to {
    transform: translate(0%);
  }
}
