@use "variables" as *;

section#more-app {
  position: relative;
  z-index: 100;

  margin-top: 6.25rem;

  & > div:first-of-type {
    max-width: 1138px;
    margin: 0 auto;

    padding: 0 1rem;
    padding-top: 4rem;
  }

  .title {
    text-align: left;
    max-width: 374px;

    p {
      max-width: 354px;
    }
  }

  .container {
    margin-top: 8rem;

    max-width: 1138px;
    z-index: 100;

    position: relative;
    display: flex;
    align-items: center;
    margin-right: auto;

    .mockup {
      display: flex;
    }

    .mockup > img {
      width: 100%;
      max-width: 300px;
      min-width: 274px;

      object-fit: cover;
      margin-left: -1rem;

      filter: brightness(1.1);

      @media (width <= 640px) {
        min-width: 200px;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      margin-left: -3rem;

      a {
        white-space: nowrap;
      }
    }
  }

  @media (width >= 848px) {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    gap: 3.5rem;

    position: relative;
    margin: 0 auto;

    & > div:first-of-type {
      margin: 0;
    }

    &::before {
      content: "";

      width: 100vw;
      height: 501px;

      position: absolute;
      bottom: 0;

      @include bg-gradient;
      z-index: 0;
    }
  }

  @media (width >= 940px) {
    & > div:first-of-type {
      margin-right: 10rem;
    }
  }
}

section#more-app .wrapper-cards-container {
  padding-top: 4rem;
  width: 100vw;
  position: relative;

  @media (width >= 848px) {
    height: 330px;
    width: 300px;

    background: none;
  }

  &::before {
    content: "";

    width: 100vw;
    height: 100%;

    position: absolute;
    top: 0;

    @include bg-gradient;
    @media (width >= 848px) {
      display: none;
    }
  }

  @media (width >= 848px) {
    margin-top: 0;
    padding-top: 0;
  }
}

section#more-app .cards-container {
  display: flex;

  width: 100%;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 10;
}

section#more-app .scroll-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  article {
    z-index: 10;
    background: #e8aa00;
    min-width: 300px;
    max-width: 300px;

    height: fit-content;

    padding: 1rem;
    border-radius: 24px;

    width: 100%;

    .content {
      z-index: 10;
      position: relative;

      min-height: 330px;

      display: flex;
      flex-direction: column;

      justify-content: end;

      padding-block: 8rem 1rem;
      padding-inline: 1rem;

      color: $color-white;
    }

    .content .icon {
      position: absolute;
      color: #ffffff;

      top: 1rem;
      right: 1rem;
    }

    & > div {
      position: relative;
      overflow: hidden;
      min-height: 196px;

      border-radius: 1rem;
    }

    .content::before {
      content: " ";
      width: 100%;
      height: 70%;

      position: absolute;

      background-image: linear-gradient(to top, #000000c5, #00000000);

      bottom: 0;
      left: 0;

      z-index: -1;
    }

    .content.blur::before {
      background-image: none;
      background-color: #00000036;
      height: 50%;
      backdrop-filter: blur(2px);
    }

    .content h4 {
      font-size: 1.25rem;
    }

    .content p {
      line-height: 1.25;
      margin-top: 0.5rem;
    }

    .content .btn {
      margin-top: 1.5rem;
      width: 100%;
    }

    img {
      position: absolute;
      inset: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  @media (width >= 848px) {
    article {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
