@use "variables" as *;

section.problems {
  @include bg-gradient;

  border-top-left-radius: 100% 50px;
  border-top-right-radius: 100% 50px;

  border-bottom-left-radius: 100% 50px;
  border-bottom-right-radius: 100% 50px;

  margin-top: -12rem;

  & > div {
    max-width: 1138px;
    margin-inline: auto;

    padding: 4em 1rem;
    padding-bottom: 10rem;
  }
}

section.problems .metrics-container {
  margin: 0 auto;
  margin-top: 4rem;

  justify-content: center;

  display: flex;
  gap: 1.5rem;

  flex-wrap: wrap;

  @media (width >= 1280px) {
    flex-wrap: nowrap;
  }
}

section.problems .metrics-container article {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1.5rem;
  padding: 1.5rem 1.75rem;

  max-width: 400px;

  border-radius: 1rem;
  border: 1px solid #916a00;

  @media (width >= 1000px) {
    min-width: 400px;
  }

  &:first-of-type {
    height: 160px;
  }

  .content > p {
    margin-top: 0.25rem;
    font-size: $text-sm;
  }

  .content .link {
    display: flex;
    align-items: center;

    opacity: 0.6;

    gap: 0.5rem;

    font-size: $text-extra-sm;
    margin-top: 0.75rem;
  }

  .metric-number {
    font-size: 2.25rem;
    font-weight: 600;

    color: $color-purple;
  }

  .content .link > div {
    background-color: $color-purple;
    display: flex;

    padding: 0 0.35rem;
    border-radius: 9999rem;

    align-items: center;
    justify-content: center;

    i {
      font-size: 1.25rem;
      color: $color-primary;
    }
  }
}

section.problems .metrics-container .percent {
  position: relative;
  width: 112px;
  height: 112px;

  svg {
    position: relative;
    width: 112px;
    height: 112px;

    rotate: -90deg;
  }

  svg circle {
    width: 112px;
    height: 112px;

    fill: none;

    stroke-width: 10;
    stroke: #000;
    transform: translate(5px, 5px);

    stroke-dasharray: 307;
    stroke-dashoffset: 307;

    stroke-linecap: round;
  }

  svg circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: #000;

    opacity: 0.08;
  }

  svg circle:nth-child(2) {
    stroke-dashoffset: calc(300 - (300 * var(--perc)) / 100);
    stroke: #000;
  }

  .number {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .number h3 {
    font-size: 1.5rem;

    font-weight: normal;
  }
}
