@use "variables" as *;

section.problems {
  @include bg-gradient;

  border-top-left-radius: 100% 50px;
  border-top-right-radius: 100% 50px;

  border-bottom-left-radius: 100% 50px;
  border-bottom-right-radius: 100% 50px;

  margin-top: -2rem;

  & > div {
    margin-inline: auto;

    padding: 4em 1rem;
    padding-bottom: 10rem;
  }
}

section.problems .metrics-container {
  margin: 0 auto;
  margin-top: 4rem;

  justify-content: center;

  display: flex;
  gap: 1.5rem;

  flex-wrap: wrap;

  @media (width >= 1280px) {
    flex-wrap: nowrap;
  }
}

section.problems .metrics-container article {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1.5rem;
  padding: 1.5rem 1.75rem;

  max-width: 400px;

  border-radius: 1rem;
  border: 1px solid #916a00;

  @media (width >= 1000px) {
    min-width: 400px;
  }

  &:first-of-type {
    height: 160px;
  }

  .content > p {
    margin-top: 0.25rem;
    font-size: $text-sm;
  }

  .content .link {
    display: flex;
    align-items: center;

    opacity: 0.6;

    gap: 0.5rem;

    font-size: $text-extra-sm;
    margin-top: 0.75rem;
  }

  .metric-number {
    font-size: 2.25rem;
    font-weight: 600;

    color: $color-purple;
  }

  .content .link > div {
    background-color: $color-purple;
    display: flex;

    padding: 0 0.35rem;
    border-radius: 9999rem;

    align-items: center;
    justify-content: center;

    i {
      font-size: 1.25rem;
      color: $color-primary;
    }
  }
}

section.problems .metrics-container .percent {
  position: relative;
  width: 112px;
  height: 112px;

  svg {
    position: relative;
    width: 112px;
    height: 112px;

    rotate: -90deg;
  }

  svg circle {
    width: 112px;
    height: 112px;

    fill: none;

    stroke-width: 10;
    stroke: #000;
    transform: translate(5px, 5px);

    stroke-dasharray: 307;
    stroke-dashoffset: 307;

    stroke-linecap: round;
  }

  svg circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: #000;

    opacity: 0.08;
  }

  svg circle:nth-child(2) {
    stroke-dashoffset: calc(300 - (300 * var(--perc)) / 100);
    stroke: #000;
  }

  .number {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .number h3 {
    font-size: 1.5rem;

    font-weight: normal;
  }
}

section.problems .cards-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 300px));
  grid-template-rows: auto auto;
  gap: 1.25rem;

  width: fit-content;

  margin: 0 auto;
  margin-top: 3rem;

  .card {
    background-color: $color-white;
    border-radius: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem;

    box-shadow: 0px 2px 12px #00000028;

    @media (width >= 1000px) {
      min-height: 250px;
    }
  }

  .card.object img {
    width: 100%;
    max-width: 150px;

    filter: drop-shadow(-4px 4px 4px #00000073);
  }

  img.card {
    width: 100%;
    height: 100%;

    object-fit: cover;
    padding: 0;
  }

  .card.text {
    grid-column: span 2;
    height: 250px;

    flex-direction: column;
    align-items: start;
    gap: 0.5rem;

    &:last-of-type {
      background-color: $color-black;
      color: $color-white;

      position: relative;
      overflow: hidden;

      &::before,
      &::after {
        content: "";
        position: absolute;

        border-radius: 100%;

        width: 200px;
        height: 200px;
        background-color: #fff;

        opacity: 0.2;

        filter: blur(100px);
      }

      &::after {
        left: -60px;
        top: -60px;

        opacity: 0.12;
      }

      &::before {
        right: -60px;
        bottom: -60px;
      }
    }
  }

  @media (width <= 600px) or (width >= 1000px) {
    .card.object,
    img.card {
      aspect-ratio: 1;
    }
  }

  @media (width >= 1000px) {
    grid-template-columns: 250px 250px minmax(0, 250px) minmax(0, 250px);

    .card.text:last-of-type {
      grid-column: span 1 2;
      grid-row: 2;
    }
  }

  @media (width >= 1280px) {
    grid-template-columns: 297px 297px minmax(0, 297px) minmax(0, 297px);

    .card.text:last-of-type {
      grid-column: span 1 2;
      grid-row: 2;
    }

    .card.text {
      height: 297px;
    }
  }
}
