@use "./variables.scss" as *;

#team {
  padding-block: 6.25rem;
  position: relative;

  &::before,
  &::after {
    content: "";
    background-color: $color-primary;

    position: absolute;

    width: 65px;
    height: 394px;

    border-radius: 100%;

    opacity: 0.25;

    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    left: -55px;
  }

  &::after {
    right: -55px;
  }

  @media (width >= 440px) {
    &::before {
      left: -50px;
    }

    &::after {
      right: -50px;
    }
  }

  .cards-container {
    margin-top: 4rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    align-items: center;
    justify-content: center;

    @media (width >= 870px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: fit-content;

      margin-inline: auto;

      justify-content: unset;
      align-items: unset;
    }
  }
}

#team .cards-container .card {
  display: flex;
  align-items: center;
  transition: all 0.3s;

  max-width: 100%;

  gap: 1rem;

  &:hover {
    animation: boom 0.6s;

    .content {
      box-shadow: 2px 2px 4px #00000013;
    }

    .img {
      rotate: -10deg;
      transform: scale(1.1);
    }
  }

  .content {
    transition: all 0.3s;
    border: 1px solid $color-light-300;
    border-radius: 1.5rem;

    text-align: left;

    position: relative;

    margin-left: -5rem;
    max-width: 324px;
    min-width: 290px;

    padding: 1rem;
    padding-inline: 5rem 2rem;

    @media (width >= 640px) {
      min-width: 324px;
    }
  }

  h4 {
    font-size: $text-md;
  }

  p {
    font-size: $text-sm;

    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .arrow {
    position: absolute;
    display: flex;

    padding: 0.5rem;
    right: 1rem;
    bottom: 1rem;
  }

  .email {
    display: flex;
    align-items: center;

    gap: 0.5rem;

    margin-top: 1.5rem;

    i {
      font-size: 1.25rem;
    }
  }

  .img {
    border: 4px solid #0d4b3f;
    border-radius: 100%;

    transition: all 0.3s;

    position: relative;
    z-index: 2;

    background-color: white;
    overflow: hidden;

    padding: 1rem;

    width: 132px;
    height: 132px;

    display: flex;

    box-shadow: 4px 4px 8px #0000002f;

    .border-white {
      width: 100%;
      height: 100%;

      background-color: white;
    }

    img {
      width: 112px;
      height: 112px;

      border-radius: 100%;
      display: flex;
      object-fit: cover;

      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }
  }
}

@keyframes boom {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.02);
  }
  70% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
